<h1><%= @place.name %></h1>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-success">New Post</a>
</p>

<% if @current_user %>

<div class="row">
  <% for post in @place.posts.where({ user_id: @current_user.id }) %>
    <div class="col-sm-6 col-md-4">
      <h3><%= post.title %></h3>
      <h4><%= post.posted_on %></h4>
      <p><%= post.description %></p>
    </div>
    <% end %>
</div>

<p>
  <a href="/places" class="btn btn-secondary">Back to All Places</a>
</p>

<% else %>
  Login to add a post!
<% end %>